/**
 APPLY COLOR
**/
.animation.apply-color
{
  color:#faa61b;
}
.web-development.apply-color
{
  color:#4e87c6;
}
.game-development.apply-color
{
  color:#8dc641;
}
.filmmaking.apply-color
{
  color:#f1592b;
}
.programming.apply-color
{
  color:#a2a475;
}
.\33 d-modeling.apply-color
{
  color:#747b35;
}
.graphic-design.apply-color
{
  color:#56652d;
}
.writing.apply-color
{
  color:#bf83b9;
}
.music.apply-color
{
  color:#722772;
}
.drawing.apply-color
{
  color:#9f306e;
}
.robotics.apply-color
{
  color:#b75b46;
}
.photography.apply-color
{
  color:#1baebe;
}
.online-literacy.apply-color
{
  color:#6d99cf;
}
.motion-graphics.apply-color
{
  color:#bf202f;
}

/**
 APPLY BACKGROUND-COLOR
**/
.animation.apply-background-color
{
  background-color:#faa61b;
}
.web-development.apply-background-color
{
  background-color:#4e87c6;
}
.game-development.apply-background-color
{
  background-color:#8dc641;
}
.filmmaking.apply-background-color
{
  background-color:#f1592b;
}
.programming.apply-background-color
{
  background-color:#a2a475;
}
.\33 d-modeling.apply-background-color
{
  background-color:#747b35;
}
.graphic-design.apply-background-color
{
  background-color:#56652d;
}
.writing.apply-background-color
{
  background-color:#bf83b9;
}
.music.apply-background-color
{
  background-color:#722772;
}
.drawing.apply-background-color
{
  background-color:#9f306e;
}
.robotics.apply-background-color
{
  background-color:#b75b46;
}
.photography.apply-background-color
{
  background-color:#1baebe;
}
.online-literacy.apply-background-color
{
  background-color:#6d99cf;
}
.motion-graphics.apply-background-color
{
  background-color:#bf202f;
}

/**
 APPLY BORDER-COLOR
**/
.animation.apply-border-color
{
  border-color:#faa61b;
}
.web-development.apply-border-color
{
  border-color:#4e87c6;
}
.game-development.apply-border-color
{
  border-color:#8dc641;
}
.filmmaking.apply-border-color
{
  border-color:#f1592b;
}
.programming.apply-border-color
{
  border-color:#a2a475;
}
.\33 d-modeling.apply-border-color
{
  border-color:#747b35;
}
.graphic-design.apply-border-color
{
  border-color:#56652d;
}
.writing.apply-border-color
{
  border-color:#bf83b9;
}
.music.apply-border-color
{
  border-color:#722772;
}
.drawing.apply-border-color
{
  border-color:#9f306e;
}
.robotics.apply-border-color
{
  border-color:#b75b46;
}
.photography.apply-border-color
{
  border-color:#1baebe;
}
.online-literacy.apply-border-color
{
  border-color:#6d99cf;
}
.communication.apply-border-color
{
  border-color:#255fac;
}
.motion-graphics.apply-border-color
{
  border-color:#bf202f;
}
